/* Navbar */
.navbar {
    margin-bottom: 0;
    background-color: #492265 !important;
    padding: 1rem 2rem;
}
.navbar a {
    color: #ffffff !important;
}
.navbar .bi {
    font-size: 18px;
    color: #ffffff;
}

   /* Showcase */
.showcase img {
    opacity: 3;
}
/* Backgrounds */
.bg-alaranjado {
    background-color: #F76024;
    color: #ffffff;
    font-weight: bold;
}
.bg-roxo {
    background-color: #492265;
    color: #ffffff;
    font-weight: bold;
}
.bg-azul-claro {
    background-color: #00C1C4;
    color: #ffffff;
    font-weight: bold;
}























































































































